@model CreateCategoryVM

<div class="container mt-5">
    <h2 class="text-white mb-4">📗 Add New Category</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="mb-3">
                            <label asp-for="CategoryName" class="form-label fw-bold">Name</label>
                            <input asp-for="CategoryName" class="form-control" placeholder="Enter the category name" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success px-4">✅ Add New Book Category</button>
                            <a asp-controller="Book" asp-action="Index" class="btn btn-outline-primary">🔙 Back to BookList </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
